body
{
	-webkit-text-stroke: 1px transparent;

    font-family: 'Rosario',"Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #DDDDDD;
    
	/* IE10 Consumer Preview */ 
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,1) 100%) fixed, url('../img/bg.jpg') fixed ;
	
	/* Mozilla Firefox */ 
	background: -moz-linear-gradient(top, rgba(0,0,0,0.8)  0%, rgba(0,0,0,1) 100%) fixed, url('../img/bg.jpg') fixed;
	
	/* Opera */ 
	background: -o-linear-gradient(top, rgba(0,0,0,0.8)  0%, rgba(0,0,0,1) 100%) fixed, url('../img/bg.jpg') fixed;
	
	/* Webkit (Safari/Chrome 10) */ 
	background: -webkit-gradient(linear, top, bottom, color-stop(0,rgba(0,0,0,0.8) ), color-stop(1, rgba(0,0,0,1) )) fixed, url('static/img/bg.jpg') fixed;
	
	/* Webkit (Chrome 11+) */ 
	background: -webkit-linear-gradient(top, rgba(0,0,0,0.8)  0%, rgba(0,0,0,1)  100%) fixed, url('../img/bg.jpg') fixed;
	
	/* W3C Markup, IE10 Release Preview */ 
	/*background: linear-gradient(to bottom right, rgba(0,0,0,0.6)  50%, rgba(0,0,0,1)  100%) fixed, url('./img/bg.jpg') fixed;
	*/
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
}

.months{
	padding: 0 0 10px 0;
	background:rgba(0,0,0,0.5);
}

.nav-month{
	background:rgba(0,0,0,0.5);
}

.post-nav {
	font-size: 20px;
}

.post-nav:hover,
a:hover {
	cursor: pointer;
	cursor: hand;
}

.post-nav-next {
	text-align: right;
}

.nav-container {
	margin-left: 0px;
	padding-right: 20px;
	width: 100% !important;
}

.post-nav-previous {
	text-align: left;
}

pre{
	text-align:left;
}

.post-body {
	padding-right:10%;
}

.loading-animation {
	margin: 0 auto;
	visibility:hidden;
}

.btn-title{
    
    margin: 15px 0 0 0;
}

.btn-loading{
	width: 20px;
	height: 20px;
	border-radius: 10px;
	opacity: 0.5;
	
}


.btn-user{
	width: 75px;
    height: 75px;
    border-radius: 40px;
    opacity: 0.8;
    margin: 20px 0 0 0;
}

.comment-body{

	margin-top: 20px
}

.table{
	text-align:left;
}

.btn-comment{
	
	width: 50px;
    height: 50px;
    padding: 9px 0 0 0px;
    border-radius: 25px;
    opacity: 0.8;
    margin: 0 5px 20px 5px;
	
}


.btn-comment:hover,
.btn-comment:focus {
    outline: 0;
    color: #fff;
    background: rgba(255,255,255,.1);
    text-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
    box-shadow: 0px 0px 5px rgba(0,0,0, 0.1);
}

.btn-comment i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
}

.btn-comment:hover i.animated {
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

#bowlG {
    position: relative;
    width: 25px;
    height: 25px;
}
#bowl_ringG {
    position: absolute;
    width: 25px;
    height: 25px;
    border: 2px solid #B5B5B5;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    border-radius: 25px;
}
.ball_holderG {
    position: absolute;
    width: 7px;
    height: 25px;
    left: 9px;
    top: 0px;
    -moz-animation-name: ball_moveG;
    -moz-animation-duration: 0.7s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -webkit-animation-name: ball_moveG;
    -webkit-animation-duration: 0.7s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -ms-animation-name: ball_moveG;
    -ms-animation-duration: 0.7s;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    -o-animation-name: ball_moveG;
    -o-animation-duration: 0.7s;
    -o-animation-iteration-count: infinite;
    -o-animation-timing-function: linear;
    animation-name: ball_moveG;
    animation-duration: 0.7s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.ballG {
    position: absolute;
    left: 0px;
    top: -6px;
    width: 10px;
    height: 10px;
    background: #FFFFFF;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
}
@-moz-keyframes ball_moveG { 
    0% { -moz-transform: rotate(0deg) }
    100% { -moz-transform: rotate(360deg) }
}
@-webkit-keyframes ball_moveG { 
    0% { -webkit-transform: rotate(0deg) }
    100% { -webkit-transform: rotate(360deg) }
}
@-ms-keyframes ball_moveG { 
    0% { -ms-transform: rotate(0deg) }
    100% { -ms-transform: rotate(360deg) }
}
@-o-keyframes ball_moveG { 
    0% { -o-transform: rotate(0deg) }
    100% { -o-transform: rotate(360deg) }
}
@keyframes ball_moveG { 
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg) }
}

.months-container{
	padding: 40px 0 0 40px;
}
